@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    transition: all 0.7s ease;
}
body{
    background-color: gray;
}
header{
    position: sticky;
    top: 0px;
    z-index: 999;
}
.banner .bg_img header .nav{
    background:rgb(60,74,221);
    display: flex;
    justify-content: space-between;
    height: 70px;
}
nav .logo{
    filter: drop-shadow(1px 1px 3px rgb(45, 45, 45));
    margin-left: 20px;
    margin-top: 5px;
}
nav .logo:hover{
    filter: drop-shadow(1px 1px 3px rgb(58, 144, 106));
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right:20px;
    margin-top: 15px;
}
nav ul li{
    transition: all 0.3s ease-in-out 0s;
    border-bottom: 3px solid deepskyblue;
}
nav ul a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    filter: drop-shadow(1px 1px 3px rgb(45, 45, 45));
}
nav ul a:active{
    color: aqua;
}
nav ul li:hover{
    transform: scale(1.1);
    border-bottom: 3px solid white;
}
nav ul a:hover{
    color: deepskyblue;
}

/* Banner Section */

.intro #intro .h1,.subtitle,.prof{
    line-height: 100px;
}
.banner .bg_img{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) , url("./developer.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2.1rem;
}
.h1 .wel{
    color: deepskyblue;
}
.subtitle{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.subtitle .wel{
    color: deepskyblue;
    font-size: 2.9rem;
    font-weight: 600;
}
.prof{
    font-size: 2.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    color: white;
}
.prof .wel{
    color: deepskyblue;
}
.desc{
    font-size: 1.1rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    color: white;
    text-indent: 20px;
    /* width: 500px; */
    text-align: justify;
    margin-right: 160px;
}
.desc .i{
    font-size: 2.3rem;
    color: deepskyblue;
}
.intro{
    padding: 7px 70px;
    display: flex;
    justify-content: space-between;
}
div .img img{
    height: 400px;
    width: 300px;
}
div .img img:hover{
    transform: scale(1.1);
}
div .img{
    clip-path: circle(200px);
    margin-top: 50px;
}
.btn{
    text-align: center;
    margin-top: 50px;
}
button{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(0, 84, 117);
    padding: 12px 40px;
    background: linear-gradient(to top, deepskyblue,white);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    transform:scaleX(1.07);
}
.btn a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/* Content Section */
.project{
    text-align: center;
    scroll-behavior: smooth;
}
.project .proj{
    font-family: 'Poppins', sans-serif;
    text-decoration: underline deepskyblue;
}
.project .proj #pro{
    color: deepskyblue;
}
.card_container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin-top: 17px;
    padding: 0 70px;
}
.card_container .card{
    /* height: 450px; */
    border-radius: 7px;
    background: linear-gradient(to bottom,rgba(109, 215, 244, 0.308),rgba(255, 255, 255, 0.308));
    box-shadow: 10px 10px 40px rgba(177, 174, 174, 0.5);
    border-top: 1px solid rgba(128, 126, 126, 0.5);
    border-left: 1px solid rgba(219, 201, 201, 0.5);
    backdrop-filter: blur(5px);
}
.card_container .card:hover{
    box-shadow: 2px 3px 5px rgba(196, 196, 196, 0.443);
}
.card_container .card .btn input{
    padding: 6px 50px;
    background: linear-gradient(to top, deepskyblue,white);
    border: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 7px;
    color: rgb(5, 86, 118);
    cursor: pointer;
    margin: 0 0 10px 0;
}
.card_container .card-title{
    font-family: 'Poppins',sans-serif;
    text-decoration: underline deepskyblue;
}
.card-title #c-code{
    color: deepskyblue;
}
.card_container .card-text{
    font-family: 'Poppins',sans-serif;
    text-align: justify;
    text-indent: 20px;
    padding: 5px 15px;
}
.card .card-img img{
    width: 100%;
    height: 170px;
    border-radius: 7px 7px 0 0;
    margin-bottom: 5px;
}

/* About Section */

.about {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 9px;
    border: 1px solid rgba(0, 0, 0, 0.511);
    background: linear-gradient(to top left,rgba(109, 215, 244, 0.308),rgba(255, 255, 255, 0.308));
    box-shadow: 10px 10px 40px rgba(198, 193, 193, 0.5);
    border-top: 1px solid rgba(128, 126, 126, 0.5);
    border-left: 1px solid rgba(129, 120, 120, 0.5);
    backdrop-filter: blur(5px);
    padding: 20px 50px;
}
.about .about-img{
    height: 400px;
}
.about .about-img img{
    height: 350px;
    width: 350px;
    margin-top: 30px;
}
.about-head{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    margin: 7px 0;
    text-decoration: underline deepskyblue;
}
.about-head #ab{
    color: deepskyblue;
}
.about .about-text{
    font-family: 'Poppins',sans-serif;
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 10px;
}
#ab-head{
    text-indent: 0;
    text-decoration: underline deepskyblue;
}
#ab-head #sub-head{
    color: deepskyblue;
}
#ab-para::first-letter{
    color: deepskyblue;
    font-size: 2rem;
}
.about-btn{
    text-align: center;
    margin: 7px 0;
}
.about-warp{
    border-radius: 10px;
}
.about-btn a{
    text-decoration: none;
}
.about-btn a input{
    padding: 6px 50px;
    background: linear-gradient(to top, deepskyblue,white);
    border: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 7px;
    color: rgb(5, 86, 118);
    cursor: pointer;
    margin-bottom: 10px;
}

/* Application Section */

.application-warp .application ul{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}
.application-warp .application ul li:hover{
    filter: none;
}
.application-warp .application ul li{
    list-style: none;
    filter:opacity(0.7);
    border: 5px solid deepskyblue;
    background: linear-gradient(to top, deepskyblue,white);
    padding: 13px;
    border-radius: 50%;
}
.application-warp .application ul li a img{
    width: 100px;
    height: 100px;
}
/* .application-warp .application{

} */
.app-head{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline deepskyblue;
}
#app-span{
    color: deepskyblue;
}

/* Skills Section */

.skills-warp{

}
.skills{

}
.skills-progress .sk-img{
    height: 130px;
    width: 100%;
    padding: 4px 20px;
}
.skills-progress .sk-img img{
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
.sk{
    padding: 20px;
    background: linear-gradient(to top, deepskyblue,white);
    border-radius: 10px;
}
.skills-progress .sk .sk-desc p{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(72, 72, 72);
}
.skills-progress .sk h3{
    font-family: 'Poppins', sans-serif;
    text-decoration: underline black;
    color: deepskyblue;
}
.skills-progress .sk input {
    border: 1px solid gray;
    padding: 7px 25px;
    background: linear-gradient(to top, deepskyblue,white);
    border-radius: 7px;
    color: rgb(59, 59, 59);
    cursor: pointer;
    margin-top: 7px;
    width: 100%;
}
.skills-progress{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    padding: 0px 50px;
    margin: 50px 0;
    box-shadow: 2px 3px 5px rgba(128, 128, 128, 0.409);
}
.skills-progress .sk:nth-child(2n+1){
    transform: translateY(-30px) ;
}
.skills-progress .sk:hover{
    transform: none;
}
.skill-head{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    text-decoration: underline deepskyblue;
}
.skill-head #skill-span{
    color: deepskyblue;
}

/* Back to top */
/* .btt .cir{
    padding: 20px;
    background: linear-gradient(to top, deepskyblue,white);
    color: white;
    width: 50px;
    z-index: 200;
    float: right;
    position: sticky;
    top: 70vh;
    border-radius: 50%;
} */

/* Footer Section */
.foot{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 50px;
    background-color: rgba(63, 55, 55, 0.411);
}
.foot .f-con ul{
    list-style: none;
}
.foot .f-con ul li a{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-weight: 500;
    line-height: 60px;
}
.foot .f-img img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 5px solid deepskyblue;

}
.foot .f-social ul{
    list-style: none;
}
.foot .f-social ul li a{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-weight: 500;
    line-height: 60px;
}
footer p{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    padding: 20px 50px;
    background-color: rgba(63, 55, 55, 0.611);
    color: beige;
}
footer p #f{
    text-decoration: underline;
    cursor: pointer;
}
