@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    transition: all 0.7s ease;
}
body{
    background-color: rgba(128, 128, 128, 0.681);
}
header{
    position: sticky;
    top: 0px;
    z-index: 999;
}
.banner .bg_img header .nav{
    background:rgb(60,74,221);
    display: flex;
    justify-content: space-between;
    height: 70px;
}
nav .logo{
    filter: drop-shadow(1px 1px 3px rgb(45, 45, 45));
    margin-left: 20px;
    margin-top: 5px;
}
nav .logo:hover{
    /* filter: drop-shadow(1px 1px 3px rgb(67, 58, 144)); */
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right:20px;
    margin-top: 15px;
}
nav ul li{
    transition: all 0.3s ease-in-out 0s;
    border-bottom: 3px solid deepskyblue;
}
nav ul a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    filter: drop-shadow(1px 1px 3px rgb(45, 45, 45));
}
nav ul a:active{
    color: aqua;
}
nav ul li:hover{
    transform: scale(1.1);
    border-bottom: 3px solid white;
}
nav ul a:hover{
    color: deepskyblue;
}

/* Banner Section */

.intro #intro .h1,.subtitle,.prof{
    line-height: 100px;
}
.banner .bg_img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.823), rgba(0, 0, 0, 0.789)) , url("./developer.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2.1rem;
}
.h1 .wel{
    color: rgb(60,74,221);
}
.subtitle{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.subtitle .wel{
    color: rgb(60,74,221);
    font-size: 2.9rem;
    font-weight: 600;
}
.prof{
    font-size: 2.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    color: white;
}
.prof .wel{
    color: rgb(60,74,221);
}
.desc{
    font-size: 1.1rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    color: white;
    text-indent: 20px;
    /* width: 500px; */
    text-align: justify;
    margin-right: 160px;
}
.desc .i{
    font-size: 2.3rem;
    color: rgb(60,74,221);
}
.intro{
    padding: 7px 9rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
div .img img{
    height: 430px;
    float: inline-end;
    border-radius: 10rem 5px 10rem 5px;
    transform: scale(1.1);
    border: 7px solid rgb(60,74,221);
}
div .img img:hover{
    /* transform: scale(1.1); */
}
div .img{
    /* clip-path: circle(200px); */
    margin-top: 50px;
}
.btn{
    text-align: center;
    margin-top: 20px;
}
button{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(5, 15, 132);
    padding: 12px 40px;
    background: linear-gradient(to top, rgb(60,74,221),white);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    transform:scaleX(1.07);
}
.btn a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/* Content Section */
.project{
    text-align: center;
    scroll-behavior: smooth;
}
.project .proj{
    font-family: 'Poppins', sans-serif;
    text-decoration: underline rgb(60,74,221);
}
.project .proj #pro{
    color: rgb(60,74,221);
}
.card_container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
    margin-top: 17px;
    padding: 0 70px;
}
.card_container .card{
    /* height: 450px; */
    border-radius: 7px;
    background: linear-gradient(to bottom,rgba(60, 73, 221, 0.388),rgba(255, 255, 255, 0.308));
    box-shadow: 10px 10px 40px rgba(177, 174, 174, 0.5);
    border-top: 1px solid rgba(128, 126, 126, 0.5);
    border-left: 1px solid rgba(219, 201, 201, 0.5);
    backdrop-filter: blur(5px);
}
.card_container .card:hover{
    box-shadow: 2px 3px 5px rgba(119, 119, 119, 0.7);
}
.card_container .card .btn input{
    padding: 6px 50px;
    background: linear-gradient(to top, rgb(60,74,221),white);
    border: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 7px;
    color: rgb(4, 13, 104);
    cursor: pointer;
    margin: 0 0 10px 0;
}
.card_container .card-title{
    font-family: 'Poppins',sans-serif;
    text-decoration: underline rgb(60,74,221);
}
.card-title #c-code{
    color: rgb(60,74,221);
}
.card_container .card-text{
    font-family: 'Poppins',sans-serif;
    text-align: justify;
    text-indent: 20px;
    padding: 5px 15px;
}
.card .card-img img{
    width: 100%;
    height: 170px;
    border-radius: 7px 7px 0 0;
    margin-bottom: 5px;
}

/* About Section */

.about-warp{
    /* background: blue fixed; */
}
.about {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 9px;
    /* border: 1px solid rgba(0, 0, 0, 0.511); */
    background: linear-gradient(to top left,rgba(60, 73, 221, 0.43),rgba(255, 255, 255, 0.308));
    box-shadow: 10px 10px 40px rgba(198, 193, 193, 0.5);
    border-top: 1px solid rgba(128, 126, 126, 0.5);
    /* border-left: 1px solid rgba(129, 120, 120, 0.5); */
    backdrop-filter: blur(5px);
    padding: 20px 50px;
}
.about .about-img{
    height: 400px;
}
.about .about-img img{
    height: 350px;
    width: 350px;
    margin-top: 30px;
    position: relative;
    left: 9rem;
}
.about-head{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    margin: 7px 0;
    text-decoration: underline rgb(60,74,221);
}
.about-head #ab{
    color: rgb(60,74,221);
}
.about .about-text{
    font-family: 'Poppins',sans-serif;
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 10px;
    position: relative;
    right: 2rem;
}
#ab-head{
    text-indent: 0;
    text-decoration: underline rgb(60,74,221);
}
#ab-head #sub-head{
    color: rgb(60,74,221);
}
#ab-para::first-letter{
    color: rgb(60,74,221);
    font-size: 2rem;
}
.about-btn{
    text-align: center;
    margin: 7px 0;
}
.about-warp{
    border-radius: 10px;
}
.about-btn a{
    text-decoration: none;
}
.about-btn a input{
    padding: 6px 50px;
    background: linear-gradient(to top, rgba(60, 73, 221, 0.829),white);
    border: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 7px;
    color: rgb(6, 14, 104);
    cursor: pointer;
    margin-bottom: 10px;
}

/* Application Section */

.application-warp .application ul{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}
.application-warp .application ul li:hover{
    filter: none;
}
.application-warp .application ul li{
    list-style: none;
    filter:opacity(0.7);
    border: 5px solid rgb(60,74,221);
    background: linear-gradient(to top, rgb(60,74,221),white);
    padding: 13px;
    border-radius: 50%;
}
.application-warp .application ul li a img{
    width: 100px;
    height: 100px;
}
/* .application-warp .application{

} */
.app-head{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline rgb(60,74,221);
}
#app-span{
    color: rgb(60,74,221);
}

/* Skills Section */

.skills-warp{

}
.skills{

}
.skills-progress .sk-img{
    height: 130px;
    width: 100%;
    padding: 4px 20px;
}
.skills-progress .sk-img img{
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
.sk{
    padding: 20px;
    background: linear-gradient(to top, rgb(60,74,221),white);
    border-radius: 10px;
}
.skills-progress .sk .sk-desc p{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(72, 72, 72);
}
.skills-progress .sk h3{
    font-family: 'Poppins', sans-serif;
    text-decoration: underline black;
    color: rgb(60,74,221);
}
.skills-progress .sk input {
    border: none;
    padding: 7px 30px;
    background: linear-gradient(to top, rgba(60, 73, 221, 0.782),white);
    border-radius: 7px;
    color: rgb(37, 37, 37);
    cursor: pointer;
    margin-top: 7px;
    width: 100%;
    box-shadow: 2px 3px 5px rgba(78, 106, 219, 0.409);
}
.skills-progress{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    padding: 0px 50px;
    margin: 50px 0;
    /*  */
}
.skills-progress .sk:nth-child(2n+1){
    transform: translateY(-30px) ;
}
.skills-progress .sk:hover{
    transform: none;
}
.skill-head{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    text-decoration: underline rgb(60,74,221);
}
.skill-head #skill-span{
    color: rgb(60,74,221);
}

/* Footer Section */
.foot{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 50px;
    background-color: rgba(63, 55, 55, 0.411);
}
.foot .f-con ul{
    list-style: none;
}
.foot .f-con ul li a{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-weight: 500;
    line-height: 60px;
}
.foot .f-img img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 10px solid rgb(60,74,221);

}
.foot .f-social ul{
    list-style: none;
}
.foot .f-social ul li a{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-weight: 500;
    line-height: 60px;
}
footer p{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    padding: 20px 50px;
    background-color: rgba(63, 55, 55, 0.611);
    color: beige;
}
footer p #f{
    text-decoration: underline;
    cursor: pointer;
}
.scroll-top i{
    position: fixed;
    bottom: 25px;
    right: 20px;
    padding: 10px 30px;
    background-color: rgb(60,74,221);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
}
.scroll-top a{
    color: white;
    text-decoration: none;
}
.hidden{
    opacity: 0;
    filter: blur(2px);
    transition: all 1s;
    transform: translateY(10%);
}
.abbox{
    opacity: 0;
    filter: blur(2px);
    transition: all 1s;
    transform: translateY(20%);
}
.sk{
    opacity: 0;
    filter: blur(2px);
    transition: all 1s;
    transform: translateY(20%);
}
.text{
    opacity: 0;
    filter: blur(2px);
    transition: all 1s;
    transform: translateX(-10%);
}
.logo{
    opacity: 0;
    filter: blur(2px);
    transition: all 1s;
    transform: translateY(20%);
}
.logo:nth-child(2){
    transition-delay: 200;
}
.logo:nth-child(3){
    transition-delay: 500;
}
.logo:nth-child(4){
    transition-delay: 800;
}
.logo:nth-child(5){
    transition-delay: 1000;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
    .logo{
        transition: none;
    }
    .sk{
        transition: none;
    }
    .abbox{
        transition: none;
    }
}
